<!DOCTYPE html>
<html>
<head>
  <title>Backup Status</title>
  <link rel="stylesheet" href="/static/main.css" type="text/css">
</head>
<body>
  {% for service,group in data %}
    <h2>{{service}}</h2>
    <table>
    <tr><th></th><th></th><th></th>
    {% for month,day,_ in group[0][-1] %}
      {% if month %}
        <th colspan="3" class="month">{{month}}</th>
      {% else %}
        <th></th>
      {% endif %}
    {% endfor %}
    </tr>
    <tr><th class="title">Client</th><th class="title">System</th><th class="title">Job</th>
    {% for month,day,_ in group[0][-1] %}
      <th>{{day}}</th>
    {% endfor %}
    </tr>
    {% for client,system,job,res in group %}
      <tr><td>{{client}}</td><td>{{system}}</td><td>{{job}}</td>
      {% for _,_,ok in res %}
        <td class="{{'g' if ok else 'r'}}"> </td>
      {% endfor %}
      </tr>
    {% endfor %}
    </table>
  {% endfor %}
</body>
<html>
