<!DOCTYPE html>
<html>
<head>
  <title>Backup Status</title>
  <link rel="stylesheet" href="/static/main.css" type="text/css">
</head>
<body>
  {% for service,group in data %}
    <h2>{{service}}</h2>
    <table>
    <tr><th>Client</th><th>System</th><th>Job</th>
    {% for timestamp,_ in group[0][-1] %}
      <th>{{timestamp}}</th>
    {% endfor %}
    </tr>
    {% for client,system,job,res in group %}
      <tr><td>{{client}}</td><td>{{system}}</td><td>{{job}}</td>
      {% for _,ok in res %}
        <td class="{{'g' if ok else 'r'}}"> </td>
      {% endfor %}
      </tr>
    {% endfor %}
    </table>
  {% endfor %}
</body>
<html>
